#about {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #ffffff;
  padding: 20px 0;
}

.title2 {
  font-size: 28px;
  font-weight: bold;
  color: black;
  animation: onNeon 10s infinite ease-out;
  -webkit-animation: onNeon 10s infinite ease-out;
}

.contentTw {
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
  padding: 10px 0;
}

.containerTextTw {
  border-bottom: 0.4px solid #00000042;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 4px;
  padding: 30px;
}

.containerTextTw p {
  font-size: 16px;
  line-height: 30px;
}

.containerButtons {
  height: 100px;
  width: 280px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}

@media screen and (min-width:480px) {
  .title2 {
    font-size: 36px;
  }

  .containerTextTw {
    padding: 18px 100px;
  }

  .containerTextTw p {
    font-size: 18px;
  }
}

@media screen and (min-width:768px) {
  .title2 {
    font-size: 66px;
    padding-bottom: 20px;
  }

  .containerTextTw {
    padding: 24px 200px;
  }

  .containerTextTw p {
    font-size: 24px;
    line-height: 40px;
  }

  .containerButtons {
    width: 400px;
  }
  
}