@import 'reset.css';
@import 'header.css';
@import 'about.css';
@import 'studies.css';
@import 'projects.css';

/*color white: #f1f1f1;
color black: #1b1c1e;*/

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #1b1c1e;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #434343, #1b1c1e);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #434343, #1b1c1e);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Montserrat', sans-serif;
  color: #1b1c1e;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  overflow-x: hidden;
}

.stackingSlide {
  height: 100vh;
  width: 100%;
  position: sticky;
  top: 0;
}

/* codigo para que aparezca desde abajo 
@keyframes appearUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
  }
}

animation: appearUp 3s ease-in;
-webkit-animation: appearUp 3s ease-in;
*/