@import 'styles.header.css';
@import 'styles.about.css';
@import url('https://fonts.googleapis.com/css2?family=Iceberg&family=Montserrat:wght@600&family=Varela&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000000;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #434343, #000000);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #434343, #000000);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Montserrat', sans-serif;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  overflow-x: hidden;
}

.stackingSlide {
  height: 100vh;
  width: 100%;
  position: sticky;
  top: 0;
}
