header {
  background-image: url(../img/backgroundHeader.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerTitleHeader {
  height: 16%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: appear 0.5s ease-in;
  -webkit-animation: appear 0.5s ease-in;
}

.title {
  font-size: 1.4em;
  font-weight: bold;
  color: #fff9f9;
  animation: onNeon 10s infinite ease-out;
  -webkit-animation: onNeon 10s infinite ease-out;
}

@keyframes onNeon {
  100% {
    text-shadow: 0 0 5px #1fb5cf, 0 0 10px #1fb5cf, 0 0 20px #1fb5cf, 0 0 30px #1fb5cf;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: translateX(900px);
    transform: translateX(900px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

.containerPhoto {
  height: 20%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: appear 1s ease-in;
  -webkit-animation: appear 1s ease-in;
}

.photoPerfil {
  height: 4em;
  min-height: 6vh;
  max-height: 20vh;
  border: 1.6px solid black;
  border-radius: 60%;
  -webkit-border-radius: 60%;
  -moz-border-radius: 60%;
  -ms-border-radius: 60%;
  -o-border-radius: 60%;
}

.containerHolder {
  height: 40%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 5%;
}

.placeHolder {
  font-size: 0.6em;
  color: #fff9f9;
  border: black 1px solid;
  border-radius: 1vh;
  text-align: center;
  padding: 0.5em;
  min-width: 60%;
  max-width: 70%;
  -webkit-border-radius: 1vh;
  -moz-border-radius: 1vh;
  -ms-border-radius: 1vh;
  -o-border-radius: 1vh;
  box-shadow: 0px 20px 20px black;
  background-color: #00000042;
  animation: appear 1.5s ease-in;
  -webkit-animation: appear 1.5s ease-in;
}

.placeHolder:nth-child(2) {
  animation: appear 2s ease-in;
  -webkit-animation: appear 2s ease-in;
}

.placeHolder:nth-child(3) {
  animation: appear 2.5s ease-in;
  -webkit-animation: appear 2.5s ease-in;
}

.containerButtonHeader {
  height: 16%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonHeader {
  font-size: 0.4em;
  border: 1px solid black;
  border-radius: 2vh;
  color: #fff9f9;
  max-width: 30%;
  text-decoration: none;
  padding: 0.5em;
  outline: none;
  -webkit-border-radius: 2vh;
  -moz-border-radius: 2vh;
  -ms-border-radius: 2vh;
  -o-border-radius: 2vh;
  background-color: #00000042;
  animation: appearUp 3s ease-in;
  -webkit-animation: appearUp 4s ease-in;
}

@keyframes appearUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.buttonHeader:hover {
  transform: translateY(-8px);
  box-shadow: 0px 20px 20px black;
  -webkit-transform: translateY(-8px);
  -moz-transform: translateY(-8px);
  -ms-transform: translateY(-8px);
  -o-transform: translateY(-8px);
  text-shadow: 0 0 5px #1fb5cf, 0 0 10px #1fb5cf, 0 0 20px #1fb5cf, 0 0 30px #1fb5cf;
}

@media screen and (min-width: 300px) {
  .placeHolder {
    min-width: 50%;
  }
}

@media screen and (min-width: 600px) {
  .title {
    font-size: 3em;
  }

  .photoPerfil {
    height: 7em;
  }

  .placeHolder {
    font-size: 1.2em;
    min-width: 40%;
  }

  .buttonHeader {
    font-size: 0.8em;
    padding: 0.8em;
  }
}

@media screen and (min-width: 1200px) {
  .title {
    font-size: 4em;
  }

  .photoPerfil {
    height: 9em;
  }

  .placeHolder {
    border: black 3px solid;
    min-width: 40%;
    padding: 0.2em;
  }

  .buttonHeader {
    font-size: 1.6em;
    padding: 0.4em;
    border: 3px solid black;
  }
}
